h1, h2, h3, p {
  text-align: center;
}
p {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}
#footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}
#list-item {
  text-align:center;
  font-size: 14 pt;
}
#lvlButton {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#buttonGroup {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}
#centered {
  width: 100%;
  margin-left: 43%;
}

.numberBox {
  width: 40px;
  height: 40px;
  border: 15px;
  border-radius: 5px;
  background: teal;
  /*position: relative;*/
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
}
.active {
  background: yellow;
}
.over {
  background: green;
}
br {
  clear: both;
}

.animate.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity 1s;
}

.animate.ng-hide-add-active {
  opacity:0;
}



.animate.ng-enter, 
.animate.ng-leave
{ 
    -webkit-transition: 1300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 

.animate.ng-enter.animate-enter-active, 
.animate.ng-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate.ng-leave.animate-leave-active,
.animate.ng-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}



.oneHide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.oneHide.ng-hide {
  opacity:0;
}
